<footer class="footer">
  <div class="container">
    <nav class="social">
      {% if site.facebook_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-facebook"></i>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ site.instagram_username }}">
          <i class="fa fa-linkedin"></i>
        </a>
      {% endif %}
    </nav>
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
